@import "bootstrap/scss/bootstrap-reboot";

html, body, #app, .app-container {
  width: 100%;
  height: 100%;
}

.app-container {
  --grid-gap: 10px;

  display: grid;
  gap: var(--grid-gap);

  @for $i from 1 through 10 {
    &.columns-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    &.rows-#{$i} {
      grid-template-rows: repeat(#{$i}, 1fr);
    }
  }

  .tile {
    background: red;

    @for $i from 1 through 10 {
      @for $j from (10-$i) through 1 {
        &.col-#{$i}.w-#{$j} {
          grid-column: #{$i} / #{$i+$j};
        }
        &.row-#{$i}.h-#{$j} {
          grid-row: #{$i} / #{$i+$j};
        }
      }
    }
  }
}